<div id="container">
    <div class="row">
        <div class="col-md-3">
            <!-- header-left start -->
            <!-- ================ -->
            <div class="header-left clearfix">
                <!-- logo -->
                <div id="logo" class="logo">
                    <a href="#"><img id="logo_img" src="http://htmlcoder.me/preview/the_project/v.1.1/template/images/logo_vivid_red.png" alt="The Project"></a>
                </div>
                <!-- name-and-slogan -->
                <div class="site-slogan">
                    Multipurpose HTML5 Template
                </div>

            </div>
            <!-- header-left end -->
        </div>
        <div class="col-md-9">
            <ul class="nav navbar-nav ">
                <li><a href="#">Home</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="#">Users</a> |</li>
                    <li><a href="#">Categories</a> |</li>
                    <li><a href="#">Pages</a> |</li>
                {% elseif is_granted('ROLE_USER') %}
                    <li><a href="#">Pages</a> |</li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>